body{
    background-color: black;
    font-family: sans-serif;
    background-image: url('images/fond.jpg');
}

h1{
    text-align: center;
    font-size:30px;
    color: rgb(255, 255, 255);
    
}
div.conteneur{
    overflow:hidden;

}
p.intro{
    margin: 5%;
    width: 40%;
    text-align: justify;
    font-size: 15px;
    color: white;
    float:left; 
    display:inline
}
img{
    width: 40%;
}
h2{
    text-align: center;
    font-size:20px;
    color: white;
}
p{
    text-align: justify;
    font-size: 15px;
    color: white;
    margin: 5%;
    width: 95%
}
h3{
    text-align: center;
    font-size:25px;
    color: white;
}
p.carte{
    text-align: justify;
    font-size: 15px;
    color: white;
}
li{
  color: white;
}
.vertical-line{
        border-left: 10px solid rgb(100,100,100);
        display: inline-block;
        margin: 2%;
}
.img2{
  position: fixed;
  margin-left: 20%;
  bottom: 0px;
  
}
